.DS_Store
/gitconfig.user

#/PackagePOC/build
#/PackagePOC/.swiftpm/xcode/package.xcworkspace/xcuserdata
#/PackagePOC/.swiftpm/xcode/xcuserdata

/template/NewConcept.xcodeproj/xcuserdata
/template/NewConcept.xcodeproj/project.xcworkspace/xcuserdata
/navigation-flow/NavigationFlow.xcodeproj/xcuserdata
/navigation-flow/NavigationFlow.xcodeproj/project.xcworkspace/xcuserdata
/dynamic-tags/DynamicTags.xcodeproj/xcuserdata
/dynamic-tags/DynamicTags.xcodeproj/project.xcworkspace/xcuserdata
/onboarding-flow/OnboardingFlow.xcodeproj/xcuserdata
/onboarding-flow/OnboardingFlow.xcodeproj/project.xcworkspace/xcuserdata
/tag-cloud-state/TagCloudState.xcodeproj/xcuserdata
/tag-cloud-state/TagCloudState.xcodeproj/project.xcworkspace/xcuserdata
/uikit-framing/UIKitFraming.xcodeproj/xcuserdata
/uikit-framing/UIKitFraming.xcodeproj/project.xcworkspace/xcuserdata
/uiview-framing/UIViewFraming.xcodeproj/xcuserdata
/uiview-framing/UIViewFraming.xcodeproj/project.xcworkspace/xcuserdata
/style-guide/StyleGuide.xcodeproj/xcuserdata
/style-guide/StyleGuide.xcodeproj/project.xcworkspace/xcuserdata
/scroll-offset/ScrollOffset.xcodeproj/xcuserdata
/scroll-offset/ScrollOffset.xcodeproj/project.xcworkspace/xcuserdata
/image-align/ImageAlign.xcodeproj/xcuserdata
/image-align/ImageAlign.xcodeproj/project.xcworkspace/xcuserdata
/text-styles/TextStyles.xcodeproj/xcuserdata
/text-styles/TextStyles.xcodeproj/project.xcworkspace/xcuserdata
/keyboard-offset/KeyboardOffset.xcodeproj/xcuserdata
/keyboard-offset/KeyboardOffset.xcodeproj/project.xcworkspace/xcuserdata
/underlying-uiview/UnderlyingUIView.xcodeproj/xcuserdata
/underlying-uiview/UnderlyingUIView.xcodeproj/project.xcworkspace/xcuserdata
/preview-states/PreviewStates.xcodeproj/xcuserdata
/preview-states/PreviewStates.xcodeproj/project.xcworkspace/xcuserdata
/variadic-view-body/VariadicViewBody.xcodeproj/xcuserdata
/variadic-view-body/VariadicViewBody.xcodeproj/project.xcworkspace/xcuserdata
/modifier-reinterpretation/ModifierReinterpretation.xcodeproj/xcuserdata
/modifier-reinterpretation/ModifierReinterpretation.xcodeproj/project.xcworkspace/xcuserdata
/cool-layouts/CoolLayouts.xcodeproj/xcuserdata
/cool-layouts/CoolLayouts.xcodeproj/project.xcworkspace/xcuserdata
/localized-view/LocalizedView.xcodeproj/xcuserdata
/localized-view/LocalizedView.xcodeproj/project.xcworkspace/xcuserdata
/scrapbook/ScrapBook.xcodeproj/xcuserdata
/scrapbook/ScrapBook.xcodeproj/project.xcworkspace/xcuserdata
/combine-validation/CombineValidation.xcodeproj/xcuserdata
/combine-validation/CombineValidation.xcodeproj/project.xcworkspace/xcuserdata
/asym-carousel/AsymCarousel.xcodeproj/xcuserdata
/asym-carousel/AsymCarousel.xcodeproj/project.xcworkspace/xcuserdata
/wrapping-container/WrappingContainer.xcodeproj/xcuserdata
/wrapping-container/WrappingContainer.xcodeproj/project.xcworkspace/xcuserdata
